* {
    box-sizing: border-box;
}

body {
    background: #010202;
    font-family: sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    max-width: 1146px;
    margin: auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 10px;
    color: white;
}

.film {
    color: white;
    max-width: 1146px;
    margin: auto;
    padding: 7% 0;
    widows: 90%;
}

.description {
    color: white;
    max-width: 470px;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 36px;
    
}
.tags {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 0;
    opacity: 0.4;
    color: white;
    font-size: 15px;
    line-height: 0px;
}

.tags > * {
    margin-right: 20px;
    margin-bottom: 5px;
}

.button {
    padding: 11px 26px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    line-height: 140%;
    background-color: #2F2F2F;
    color: white;
    cursor: pointer;
}

.button-primary {
    background-color: #EA6E20;
    margin-right: 10px;
}

.age {
    display: flex;
    margin-top: -11px;
    padding: 10px 5px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

video {
    position:fixed;
    z-index:-1;
    min-width:100%;
    min-height:100%;
    overflow:hidden;
 }

.app {
    background: linear-gradient(90deg, #010202 0%, #010202 43%, rgba(1, 2, 2, 0.2) 90%), url(image.png);
    min-height: 100vh;
    color: white;
}

@media (max-width: 768px) {
    .app {
        height: auto;
        padding-bottom: 400px;
        background-color: black;
        background: url('../IMG/cover-image.jpg') no-repeat bottom center /300px;
    }

    video {
        display: none;
    }

    .film {
        padding-top: 2%;
    }

    .description {
        font-size: 16px;
        max-width: 333px;
    }

    .film-logo {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .button-text {
        display: none;
    }
    
    .user-name {
        display: none;
    }
    

    .app {
        padding-bottom: 400px;
        background-size: 300px;
    }
    .button {
        padding-bottom: 10px;
    }
}